

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

body {
  /* font-family: 'Roboto',
        sans-serif; */
  /* background: #f8f8f8; */
  font-family: "PT Sans", sans-serif;
  font-family: "Open Sans", sans-serif;
  /* background: #0db1ff36; */
  color: #333;
}

.alert-text {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  margin: 20px auto;
  display: block;
}

@media screen and (max-width:426px){
  header {
    -ms-flex-wrap:wrap;
        flex-wrap:wrap;
  }


  header .logo-left {
    -webkit-box-ordinal-group:2;
        -ms-flex-order:1;
            order:1
  }

  header .logo-right {
margin-left: auto;  
    -webkit-box-ordinal-group:3;  
        -ms-flex-order:2;  
            order:2
  }


  .header-left img {
    margin-right: 10px;

  }


  header .form-section{
        -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
                order: 3;
        width: 100%;
        margin-top: 10px!important;
  }
}


header {
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  /* background: #ccf5ff; */
  background: #1877A1;
  /* padding: 10px; */
  position: relative;
  margin: auto -15px;
  margin-bottom: 5px;

}

header:after {
  content: "";
  width: 100%;
  height: 1px;
  background: white;
  position: absolute;
  bottom: 3px;
  left: 0;
}

header img {
  width: 100%;
}



header .logo-right {
  max-width: 150px;
  float: right;
  background: white;
  padding: 10px;
  border-radius: 5px;
}

.header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 45%;
}

.header-left img {
  margin-right: 10px;
}

header .form-section {
  color: white;
  text-transform: capitalize;
  margin:0;
  margin-right: auto;
  
}

/*       */

.form-section {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
  letter-spacing: 0.5px;
  margin: 5px auto;
}

.form-heading {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  /* background: #79ac1c; */
  background: #1877A1;
  margin-bottom: 10px;
  padding: 10px;
  color: white;
}

/* .form-heading:after {
  content: "";
  position: absolute;
  height: 1.5px;
  width: 100%;
  background: #79ac1c;
  bottom: -10px;
  left: 0;
  opacity: 0.2;
} */

.col-form-label {
  font-weight: bold;
  font-size: 11px;
  padding-bottom: 0;
}

.modal-body .form-group {
  margin-bottom: 1em;
}

.form-section .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.form-section .form-group label {
  white-space: nowrap;
  margin-right: 10px;
  width: 15em;
  text-align: right
}

.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}


.form-group {
  /* margin-bottom: 5px; */
}

.form-section input,
.form-section select,
.form-table input {
  background: #f5f9fa;
  /* border-radius: 0; */
  height: 30px !important;
  font-size: 14px;
  border-radius: 5px;


  /* border-color: rgba(0, 0, 0, 0.6); */
  padding: 0 5px;
}

.custom-1 {
  font-size: 12px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: inline-block;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: bold;
  background: aliceblue;
  text-align: center;
  padding: 6px 10px;
  border-radius: 5px 5px 0 0;
  border: 1px solid lightgrey;
  border-bottom: 0;
}

.margin-none {
  margin: 0;
}

.add-option {
  background: #79ac1c;
  /* border: 1px solid #ced4da; */
  display: inline-block;
  padding: 10px;
  text-align: center;
  height: 30px;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  /* border-radius: 5px; */
  color: white;
  font-size: 12px;
  border-radius: 5px 5px 0 0;
}

.add-option:hover {
  background: #5e8516;
  color: #fff;
  text-decoration: none;
}

/* .add-option:focus {
  background: #5e8516;
  outline:none;
} */

.bg-blue {
  /* background: #f5f9fa; */
  background: #DAEDFF;
  padding: 10px;
}



.bg-reddish {
  /* background: #F36350; */
  background: #ff7b7b;
  /* padding: 10px 0; */
}

.bg-reddish input {
  background: #fff;
}

.bg-reddish .custom-1 {
  background: #ff7b7b;
  color: #fff;
  border-right: 1.5px solid white;
}

.bg-reddish .add-option {
  background: white;
}

.bg-reddish .add-option:hover {
  background: #79ac1c;
  color: #fff;
  text-decoration: none;
}

.sign-text {
  background: cadetblue;
  padding: 10px;
  color: white;
  border-radius: 5px;
}

.alert-text {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  margin: 20px auto;
  display: block;
}

.table thead th {
  white-space: nowrap;
  font-size: 10px;
}

.overflowxscroll {
  overflow: auto;
}

/* .prestable td input{
  width: 200px;
} */
.table {
  margin-bottom: 0;
}

.custom-prescription .form-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom:0;
}



.custom-prescription .custom-1 {
  border-bottom: 1px solid lightgrey;
  border-radius: 5px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.6);
}

.custom-prescription label {
  width: 16rem !important;
  white-space: normal !important;
}

.custom-prescription a {
  border-radius: 5px
}

.med-panel {
  padding: 0px 0px 0;

}

.med-panel-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5px 10px;
  background: lightgrey;
  margin-bottom: 5px;
}

.med-panel-heading:hover {
  background: grey;
  cursor: pointer;
}

.medication-name {
background: #1877A1;
padding: 5px 10px;
border-radius: 17px;
color: white;
}

.med-panel-heading .button {
  border: none;
  /* width: 50px; */
  background: #1877A1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  border-radius: 20px;
}

.med-panel-heading .button svg {
  width: 1.5em;
  height: 1.5em;
  fill: white;
}

.rotate {
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

.allergy-section .med-panel-heading{
  background:#de3737;
}

.allergy-section .medication-name{
  background:white;
  color:#de3737;
}


/* ui card */

.product-card {
       width: 700px;
    position: relative;
    -webkit-box-shadow: 0 2px 7px #dfdfdf;
            box-shadow: 0 2px 7px #dfdfdf;
    margin: 50px auto;
    /* background:#0B2639; */
   
            padding-bottom:1px;
            border-radius: 5px;
}

.formheader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 90px;
    padding: 50px;
    /* background: #f0f0f0; */
    /* background: #1877A1; */
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30px;
    color: white;;
        margin-bottom: 8px;
}

.product-tumb {
   
    /* height: 90px; */
    padding: 12px;
    /* background: #f0f0f0;
    background: #1877A1; */
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    /* color: #FCFFFB; */
        /* margin-bottom: 8px; */

        
}

/* .product-tumb img {
    max-width: 100%;
    max-height: 100%;
} */


.product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 10px;
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}



.product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}


.product-details {
    margin: 0 12px 12px;
    font-size: 12px;
    background: lightblue;
    padding: 8px;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0,0.15 );
            box-shadow: 0 4px 6px rgba(0, 0, 0,0.15 );
    border-radius: 3px;
}

.details-lists{
  /* display:-webkit-box;
  display:-ms-flexbox; */
  /* display:flex; */
  /* justify-content:space-between; */
  margin-bottom:0;
  /* -ms-flex-wrap:wrap;
      flex-wrap:wrap; */

}
.details-heading{
    font-weight: bold;
    /* color: #1877A1; */
    color: #e0f7fa;
    text-transform: uppercase;
    /* border-bottom: 1px solid lightgrey; */
    display: block;
    padding-bottom: 2px;
    margin-bottom: 2px;
}
.details-list{
  /* width:24%; */
  /* display: -webkit-box;
  display: -ms-flexbox;
  display: flex; */
  /* -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; */
}
.details-list span:nth-child(1){
  font-weight:bold;
}
.details-list span:nth-child(2){
  min-height:20px;
}

.trademark{
      text-align: center;
    font-size: 12px;
    /* color: white; */
    margin-bottom: 8px;

}